<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ground">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".allround"
        android:allowBackup="true"
        android:icon="@mipmap/test_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/test_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="n">
        <activity android:name=".config_my_forum_in" />
        <activity android:name=".notice_notice_in" />
        <activity android:name=".school_infomation_list" />
        <activity android:name=".notice_notice_write" />
        <activity android:name=".char_inven_hair" />
        <activity android:name=".char_inven_face" />
        <activity android:name=".char_inven_cloth" />
        <activity android:name=".char_inven_acce" />
        <activity android:name=".school_infomation_write" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".notice_notice" />
        <activity android:name=".notice_event" />
        <activity android:name=".forum_image" />
        <activity android:name=".forum_forum" />
        <activity android:name=".forum_forum_write" />
        <activity android:name=".forum_forum_in"
            android:windowSoftInputMode = "stateAlwaysHidden"/>
        <activity android:name=".configActivity" />
        <activity android:name=".char_shop" />
        <activity android:name=".school_information" />
        <activity android:name=".school_food_lineup" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".game_main" />
        <activity android:name=".game_ranking" />
        <activity android:name=".game_ranking_in" />
        <activity android:name=".config_change" />
        <activity android:name=".config_my_forum_forum" />
        <activity android:name=".config_my_forum_image" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>